@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #44336d;


}


.test:hover .link {
    left:0px;
    right:0px;
}

.test:hover .round {
    border-radius: 0%;
}

.test:hover .none {
    display: none;
}

.link {
    transition: left .2s ease;
}

.bg-img {
    background-image: url("../assets/polina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.fix{}