@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Minecraft;
  src: url('../assets/fonts/minecraft.ttf') format("truetype");
}

.mc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 53px;
  background-color: #3D874C;
  box-shadow: 5px 0px #336C42, 0px 5px #214E2C, -5px 0px #336C42, 0px -5px #68CA55, 5px 0px 0 3px black, 0px 5px 0 3px black, -5px 0px 0 3px black, 0px -5px 0 3px black;
}

.loading {
  text-shadow:
  -1px -1px 0 rgb(64, 64, 64),
   1px -1px 0 rgb(64, 64, 64),
   -1px 1px 0 rgb(64, 64, 64),
    1px 1px 0 rgb(64, 64, 64);
}


* {
    scrollbar-width: thin;
    scrollbar-color: #7b7b7b71 #44444400;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #89898987;
    border:none;
  }
