@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: normal;
    src: local('Podkova'),
        url('../assets/fonts/Podkova-VariableFont_wght.ttf') format('truetype');
}
body {
    margin: 0;
    background-color: #44336d;


}


.test:hover .link {
    left:0px;
    right:0px;
}

.test:hover .round {
    border-radius: 0%;
}

.test:hover .none {
    display: none;
}

.link {
    transition: left .2s ease;
}

.bg-img {
    background-image: url("../assets/polina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.stream-info{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1;
        -webkit-box-orient: vertical;
}